

<div class="row">
    
        <div class="hedding" >
            <h1> Attribute Directive</h1>
             <p>ngClass, ngStyle</p>
        </div>
</div>


<div class="row">
        <div class="col-md-3">
            <div class="div1">
                    <h1>Div1</h1>
            </div>

        </div>

        <div class="col-md-3">
            <div class="div2">
                    <h1>Div2</h1>
            </div>

        </div>

        <div class="col-md-3">
            <div class="div3">
                    <h1>Div3</h1>
            </div>

        </div>

        <div class="col-md-3">
            <div class="div4">
                    <h1>Div4</h1>
            </div>

        </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="row">
    <div class="col-md-3">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger">Add Red</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-primary"> Add Blue</button>
    </div>
     <div class="col-md-3">
            &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success">Toggle</button>
    </div>
    <div class="col-md-3">
    <input type="text" placeholder="num1"> <input type="text" placeholder="num2"> 
        
    </div>

    <div class="col-md-3">
        <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <select>
            <option value="">Select</option>
            <option value="1">Surat</option>
            <option value="2"> Varanshi</option>
            <option value="3">Bhopal </option>
            <option value="4">Pune </option>
        </select>

        </div>

</div>