.hedding{
    background-color:darksalmon;
    padding-left: 35px;
}


.div1{
background-color: red;
text-align:center;
height: 80px;
}

.div2{
    background-color: green;
    text-align:center;
    height: 80px;
    }

    .div3{
        background-color: gray;
        text-align:center;
        height: 80px;
        }

        .div4{
            background-color: blue;
            text-align:center;
            height: 80px;
            }