<div class="row">
<div class="col-4">

</div>
<div class="col-4">
    
</div>

<div class="col-4">
    Indian <input type="checkbox" [(ngModel)]="isIndian"/>
</div>


</div>

<div class="row">
    <div class="col-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-success">
            Interpolation 
            <h1>{{CureseName}}</h1>
        </div>
        <div class="col-4">
            <input type="text" value="{{CureseName}}">
        </div>
    </div>
    <div [class]="txtcolor">
            Property Binding 

        <input type="text" [class]="txtcolor" value="Ram" placeholder="Enter the First Name">

        <input type="text" [class]="txtcolor"  [value]="CureseName">
    </div>
    
    </div>
    <div class="col-4">
        Two Data Binding 
        <select [(ngModel)]="ddlDefault">
            <option value="">select</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Goa">Goa</option>
            <option value="Bihar">Bihar</option>
            <option value="UP">UP</option>
        </select>
        
    </div>
    
    <div class="col-4">

        <button class="btn btn-success" (click)="showMe('Welcome to angular 18 ')"> Show me</button>
        
    </div>
    
    
    </div>
    
    