<div class="row">
    
    <div class="hedding" >
        <h1>Control Flow </h1>
         <div>
            <p>For Loop and Switch case Exmple</p>
           
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <ul>
            @for(item of cityArray; track $index)
            {
                <li>{{item}}</li>
            }
        </ul>
    </div>
    <div class="col-md-3">
            Daya Number:-<input type="text" [(ngModel)]="dayNumber" placeholder="DayNumber">
            @switch (dayNumber) {
                        @case ('1') {
                            <span>Monday</span>
                        }
                        @case ('2') {
                            <span>Tuesday</span>
                        }
                        @case ('3') {
                            <span>Wednesday</span>
                        }
                        @case ('4') {
                            <span>Thursday</span>
                        }
                        @case ('5') {
                            <span>Friday</span>
                        }
                        @case ('6') {
                            <span>Sturday</span>
                        }

                        @case ('7') {
                            <span>Sunday</span>
                        }
                        @default {
                            <span>Please select 1 to 7 number for print days</span>
                        }
            }


</div>
    <div class="col-md-3">
 
            @for(item of cityArray; track $index)
            {
                <div>{{item}}</div>
            }

    </div>
    <div class="col-md-3">
        <select>
            <option value="">Select</option>
            @for(item of cityArray; track $index)
            {
                <option value="1">{{item}}</option>
            }
        </select>
        </div>
        <div class="col-md-3">
            <select>
                <option value="">Select</option>
                @for(item of studentList; track $index)
                { 
                    <option value={{item.studentId}}>{{item.Name}}</option>
                }
            </select>
            </div>
    
</div>

<div class="row pt-3">
    <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                <th>Sri No.</th>
                <th>Name</th>
                <th>City</th>
                <th>Gender</th>
                <th>Total Markss</th>
                <th>Active</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>

            
    </div>
</div>



